@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
}

.container {
    max-width: 1134px;
}

.product:hover {
    .productimg {
        img {
            scale: 1.03;
        }

        div {
            right: 15px;
        }
    }
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}